<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Deploying PresalePool</title>
</head>

<body>
    <form action="/deploy" method="post">
        <div>
          <label for="address">Your Wallet Address:</label> <input type="text" id="address" name="address" size="50">
        </div>
        <br>
        <div>
            <label for="minContribution">Minimum individual contribution in eth:</label> <input type="number" id="minContribution" name="minContribution" step="any">
        </div>
        <br>
        <div>
            <label for="maxContribution">Maximum individual contribution in eth:</label> <input type="number" id="maxContribution" name="maxContribution" step="any">
        </div>
        <br>
        <div>
            <label for="maxPoolTotal">Maximum total pool contribution in eth :</label> <input type="number" id="maxPoolTotal" name="maxPoolTotal" step="any">
        </div>
        <br>
        <div>
            <label for="admins">Enter a list of addresses corresponding to other admins who have the power to modify this contract:</label>
            <br>
            <textarea id="admins" name="admins" cols="50" rows="10"></textarea>
        </div>
        <br>
        <div class="button">
          <button type="submit">submit</button>
        </div>
    </form>
</body>

</html>