<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Deploying PresalePool</title>
</head>

<body>

</body>
    <ul class="rss">
    <li><a href="/deploy">Deploy a new pool</a></li>

    <li><a href="/close">Close an existing pool</a></li>
    <li><a href="/open">Open an existing pool</a></li>
    <li><a href="/fail">Fail an existing pool</a></li>

    <li><a href="/send">Contribute to an existing pool</a></li>

    <li><a href="/withdrawAll">Withdraw all my funds from an existing pool</a></li>
    <li><a href="/withdraw">Withdraw some of my funds from an existing pool</a></li>

    <li><a href="/setToken">Set the ERC20 contract address for an existing pool</a></li>

    <li><a href="/removeWhitelist">Remove the whitelist from an existing pool</a></li>
    <li><a href="/modifyWhitelist">Modify the whitelist from an existing pool</a></li>

    <li><a href="/setContributionSettings">Adjust the contribution settings for an existing pool</a></li>

    <li><a href="/payout">Payout the funds in an existing pool to the presale addresss</a></li>

    <li><a href="/refundPresale">Refund the pool after funds have already been transferred to the presale addresss</a></li>

    <li><a href="/transferMyTokens">Get my tokens from an existing pool</a></li>
    <li><a href="/transferAllTokens">Distribute tokens to all pool members</a></li>

    <li><a href="/balances">View the balances for an existing pool</a></li>

    </ul>
</html>